@use './variables' as *;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin section-header {
  margin-bottom: calc($spacing-unit * 8);
  position: relative;

  .section-number {
    color: $color-beige;
    font-family: $font-family-syncopate;
    font-size: calc($font-size-h1 * 0.8);
    margin-bottom: $spacing-unit;

    &::after {
      content: '';
      position: absolute;
      top: 30%;
      width: 100px;
      height: 2px;
      background-color: $white;
    }
  }

  .section-title {
    color: $white;
    font-family: $font-family-syncopate;
    font-size: $font-size-h1;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;
    display: inline-block;

    
  }

  @include mobile {
    margin-bottom: calc($spacing-unit * 4);
  }
}
