@use './variables' as *;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin section-header {
  margin-bottom: calc($spacing-unit * 8);
  position: relative;

  .section-number {
    font-family: $font-family-syncopate;
    font-size: calc($font-size-h1 * 0.8);
    margin-bottom: $spacing-unit;
    color: $color-beige;
  }

  .section-title {
    color: $primary-color;
    font-family: $font-family-syncopate;
    font-size: $font-size-h1;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    position: relative;
    display: inline-block;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(100% + #{$spacing-unit * 2});
      width: 100px;
      height: 2px;
      background-color: $white;
    }
  }

  &.dark {
    .section-title {
      color: #fff;

      &::after {
        background-color: #ffff;
      }
    }
  }

  &.light {
    .section-title {
      color: $primary-color;

      &::after {
        background-color: $primary-color;
      }
    }
  }

  @include mobile {
    margin-bottom: calc($spacing-unit * 4);

    .section-title {
      &::after {
        width: 60px;
        left: calc(100% + #{$spacing-unit});
      }
    }
  }
}