@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.about {
  background-color: white;
  padding: $container-padding;
  overflow-x: hidden;
  display: flex;
  justify-content: center;

  @include mobile {
    padding: calc($spacing-unit * 8) calc($spacing-unit * 2);
  }

  .section-title {
    color: #151515;
  }

  .container {
    max-width: $desktop;

    .description {
      color: $secondary-color;
      font-weight: 500;
      font-size: 33px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      line-height: 1.4;

      @include mobile {
        font-size: calc($font-size-base * 1.25);
      }

      h3 {
        font-size: 30px;
        color: $primary-color;
        margin-top: calc($spacing-unit * 6);
      }

      a {
        text-decoration: underline;
        color: $primary-color;

        &hover {
          text-decoration-color: $color-beige;
        }
      }

      ul {
        margin-top: calc($spacing-unit * 2);
        padding: 0;
        margin: 0 0 40px 0;

        li {
          margin-left: 5%;
          margin-bottom: calc($spacing-unit * 1);

          &::marker {
            color: $primary-color;
          }

          a {
            color: $primary-color;
          }
        }
      }

      p {
        margin-bottom: calc($spacing-unit * 2);
      }
    }
  }
}