@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.about {
  background-color: white;
  padding: $container-padding;
  overflow-x: hidden;
  display: flex;
  justify-content: center;

  @include mobile {
    padding: calc($spacing-unit * 8 ) calc($spacing-unit * 2);
  }

  .section-title {
    color: #151515;
  }
  .container {
    max-width: $desktop;
    
    .description {
      color: $secondary-color;
      font-weight: 500;
      font-size: 33px;
        @include mobile {
          font-size: calc($font-size-base * 1.25);
        }
    }
  }
}