@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.about {
  background-color: white;
  padding: calc($spacing-unit * 12) 0;
  overflow-x: hidden;
  
  .section-title {
    color: #151515;
  }
  .container {
    max-width: $desktop;
    margin: 0 auto;
    padding: 0 $container-padding;

    .description {
      color: $secondary-color;
      font-weight: 500;
      font-size: 33px;
    }
  }
}