@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.header {
  background-color: $primary-color;
  padding: calc($spacing-unit * 2) $container-padding;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;


  .container {
    max-width: $desktop;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      gap: $spacing-unit;
    }
  }

  .logo {
    display: block;

    img {
      height: 90px;
    }

    &:hover {
      opacity: 0.8;
      transition: opacity 0.3s ease;
    }
  }

  nav {
    flex: 1;
    margin: 0 calc($spacing-unit * 2);

    @include mobile {
      width: 100%;
      margin: $spacing-unit 0;
    }

    .navList {
      display: flex;
      justify-content: center;
      gap: 30px;
      list-style: none;
      margin: 0;
      padding: 0;

      @include mobile {
        flex-direction: column;
        align-items: center;
        gap: $spacing-unit;
      }

      .navItem {
        position: relative;

        &:hover *,
        &:focus *,
        &:active * {
          color: $color-beige !important;
        }

        .navLink {
          font-family: $font-family-syncopate;
          text-decoration: none;
          color: white;
          font-family: $font-family-syncopate;
          font-weight: bold;
          font-size: 16px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            top: 45%;
            left: 0;
            right: 0;
            height: 2px;
            background-color: white;
            opacity: 0.3;
            transform-origin: center;
            transition: all 0.3s ease;
          }

          &:active {
            color: $secondary-color;
          }

          .navNumber {
            font-size: 14px;
            color: #b3b3b3;
            margin-bottom: 5px;
          }

          .navText {
            position: relative;
          }

        }
      }
    }
  }

  .socialLinks {
    display: flex;
    gap: $spacing-unit;
    align-items: center;

    @include mobile {
      margin-top: $spacing-unit;
    }
  }

  .socialLink {
    color: $white;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }

    svg {
      width: calc($spacing-unit * 3);
      height: calc($spacing-unit * 3);
    }
  }
}