@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
    background-color: $primary-color;
    padding: $spacing-xl $container-padding;
    display: flex;
    justify-content: center;

    @include mobile {
        padding: $spacing-3xl $container-padding-mobile;
    }

    .container {
        max-width: $desktop;
        width: 100%;
    }

    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        @include mobile {
            flex-direction: row;
            gap: $spacing-xl;
        }
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        gap: $spacing-md;

        .logo {
            display: block;

            &:hover {
                opacity: 0.8;
                transition: opacity $transition-base;
            }
            img {
                @include tablet {
                    height: 120px !important;
                }
            }
        }

        .copyright {
            color: $text-light-gray;
            font-family: $font-family-base;
            font-size: $font-size-sm;
        }
    }

    .footer-nav {
        display: flex;
        gap: $spacing-3xl;

        @include mobile {
            flex-direction: column;
            gap: $spacing-xl;
        }

        .nav-list {
            display: flex;
            flex-direction: column;
            gap: $spacing-md;
            list-style: none;
            margin: 0;
            padding: 0;

            a {
                color: $white;
                text-decoration: none;
                font-family: $font-family-base;
                font-size: $font-size-base;
                transition: color $transition-base;

                &:hover {
                    color: $text-light-gray;
                }
            }
        }

        .main-links {
            margin-right: $spacing-xl;
        }
    }
}