@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.footer {
    background-color: $primary-color;
    padding: $spacing-xl $container-padding;
    display: flex;
    justify-content: center;

    @include mobile {
        padding: $spacing-3xl $container-padding-mobile;
    }

    .container {
        max-width: $desktop;
        width: 100%;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        gap: $spacing-2xl;

        @include mobile {
            flex-direction: column;
            gap: $spacing-xl;
            align-items: flex-start;
            text-align: left;
        }
    }

    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: $spacing-lg;

        .logo {
            display: block;

            &:hover {
                opacity: 0.8;
                transition: opacity $transition-base;
            }
            
            img {
                width: 120px;
                height: 120px;

                @include mobile {
                    width: 100px;
                    height: 100px;
                }
            }
        }

        .copyright {
            color: $text-light-gray;
            font-family: $font-family-base;
            font-size: $font-size-base;
            margin: 0;

            @include mobile {
                font-size: $font-size-sm;
            }
        }
    }

    .footer-nav {
        display: flex;
        justify-content: center;
        gap: $spacing-3xl;

        @include mobile {
            flex-direction: column;
            gap: $spacing-lg;
            align-items: flex-start;
        }

        .nav-list {
            display: flex;
            flex-direction: column;
            gap: $spacing-md;
            list-style: none;
            margin: 0;
            padding: 0;
            align-items: flex-start;

            @include mobile {
                gap: $spacing-sm;
            }

            a, button {
                color: $white;
                text-decoration: none;
                font-family: $font-family-base;
                font-size: $font-size-base;
                transition: color $transition-base;

                &:hover {
                    color: $text-light-gray;
                }
            }
        }

        .main-links {
            margin-right: 0;
        }
    }
}